body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #BBBBBB;
  background-color: #262335;
  padding: 10px 0 0 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
pre {
  line-height: 24px;
  font-size: 8pt;
}
pre.codePre{
  align-self: center;
}
span.props {
  color: #72EFB6;
  font-weight: 300;
}
span.stringS{
  color: #FF8B39;
}
span.curls {
  color: #FFD700;
}

span.bracks {
  color: #179FFF;
}